.bttn {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: var(--text-white-color);
  border: none;
  margin-bottom: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.bttn__title {
  display: inline-block;
  margin-left: 3px;
}

.bttn--primary {
  background-color: var(--primary-bttn-color);
  box-shadow: var(--primary-bttn-box-shadow);
}

.bttn--primary:hover {
  background-color: var(--primary-bttn-color-hover);
}

.bttn:active {
  opacity: .8;
  box-shadow: none;
  margin-bottom: 0px;
  margin-top: 2px;
}