.header {
  width: 100%;
  height: var(--header-height);

  padding: 0px 25px;

  display: flex;
  align-items: center;

  flex-shrink: 0;
}

@media screen and (min-width: 1180px) {
  .header {
    height: calc(var(--header-height) - 5px);

    padding: 0px 20px;
  }
}