*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Geral */
  --primary-color: #009B72;
  --secondary-color: #F78154;
  --terciary-color: #FF5964;
  --bg-color: #27282C;
  --bg-content-color: #292A2E;
  --box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  --status-active: #20E300;
  --header-height: 60px;
  --side-menu-width: 290px;
  --bg-grey-01: #2F3136;
  --bg-grey-02: #323439;

  /* Buttons */
  --bttn-border-radius: 4px;
  --primary-bttn-box-shadow: 0px 2px 0px #0D6951;
  --primary-bttn-color: #0E8364;
  --primary-bttn-color-hover: #198b6d;

  --terciary-bttn-box-shadow: 0px 2px 0px #6e2f33;
  --terciary-bttn-color: #FF5964;
  --terciary-bttn-color-hover: #ff6670;

  --rounded-bttn-bg-color: rgba(255, 255, 255, 0.021);
  --rounded-bttn-bg-color-hover: rgba(255, 255, 255, 0.04);

  /* Session area */
  --session-menu-item-bg-color: rgba(217, 217, 217, 0.089);
  --session-menu-item-bg-color-active: rgba(217, 217, 217, 0.411);
  --session-menu-item-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);

  /* Texts */
  --text-color: #FFFFFF;
  --text-white-color: #FFFFFF;

  /* Inputs */
  --input-bg-color: #27282C;
  --input-focus-border-color: #FFFFFF;
  --input-border-color: #383C46;
  --input-placeholder-color: #5C6071;
  --input-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.03);
  --input-box-shadow-error: 0px 0px 0px 5px rgba(252, 52, 52, 0.11);

  /* Scroll bar */
  --scroll-track-color: rgba(0, 0, 0, 0.116);
  --scroll-thumb-color: rgba(0, 0, 0, 0.116);
  --scroll-hover-color: rgba(0, 0, 0, 0.205);

  /* Errors and states */
  --green-light: #62AC6E;
  --green-dark: #62A16C;
  --red-light: #F15656;
  --red-opacity: #fcb2b2;
  --red-dark: #B54141;
  --yellow-light: #F8F5BF;
  --yellow-dark: #f3dd5f;
}

/* Geral */
.text-underline {
  text-decoration: underline;
}

.text-primary {
  color: var(--primary-color);
}

.text-color {
  color: var(--text-color);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.semi-bold {
  font-weight: 600;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.mr-20 {
  margin-right: 20px;
}

.bg-grey-01 {
  background-color: var(--bg-grey-01);
}

.bg-grey-02 {
  background-color: var(--bg-grey-02);
}

.mt-100 {
  margin-top: 100px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.x-p-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.x-p-10 {
  padding-left: 10px;
  padding-right: 10px;
} 

.y-p-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.y-p-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-error-light {
  color: var(--red-light);
  font-weight: 400;
  font-size: 14px;
}

/*
 *
 * Scroll bar
 */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover-color);
}