/* Chat item */
.chat__item {
  display: flex;
  flex-direction: row;
  cursor: default;
  text-decoration: none;
}

.chat__item:hover .chat__info-bttn {
  display: flex;
}

.chat__item:hover {
  background-color: var(--bg-grey-02);
}

.chat__item.active {
  background-color: var(--bg-grey-02);
}

.chat__avatar {
  padding: 10px 10px 10px 20px;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat__avatar:hover .chat__checkbox {
  display: inline-block;
}

.chat__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat__avatar:hover .chat__avatar-img {
  display: none;
}

.chat__avatar-img-wrapper {
  width: 45px;
  height: 45px;
  background-color: var(--bg-content-color);
  border-radius: 50%;
  overflow: hidden;
}

.chat__checkbox {
  position: absolute;
  display: none;
}

.chat__checkbox:checked {
  display: inline-block;
}

.chat__checkbox:checked+.chat__avatar-img-wrapper .chat__avatar-img {
  display: none;
}

.chat__info {
  width: 100%;
  padding: 10px 20px 0px 5px;
}

.chat__info-actions {
  display: flex;
}

.chat__info-bttn {
  width: 18px;
  height: 18px;

  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 2px;
  margin-left: 10px;

  background-color: transparent;
  border: none;
  color: var(--text-color);
}

.chat__info-mark {
  margin-top: 2px;
  color: var(--text-color);
}

.chat__info-bttn:hover {
  opacity: .8;
}

.chat__info-name-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat__info-name {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 10px;
  color: var(--text-color);

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.chat__info-hr {
  color: var(--text-color);
}

/* .chat__info-bttn {} */

.chat__info-last-message-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--bg-grey-02);
}

.chat__info-last-message {
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;

  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.chat__unread-count {
  width: 18px;
  height: 18px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 18px;

  font-size: 12px;

  background-color: var(--primary-color);

  text-decoration: none;
  color: var(--text-color);
}

@media screen and (min-width: 1180px) {
  .chat__search {
    padding: 15px 20px 0px;
  }
}